.nav {
    grid-area: n;
  }


  .item {
    color: #FFFF;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .active{
    color: rgb(39, 165, 255);
    text-decoration: none;
  }

  .fri{
    color: rgb(255, 255, 255);
    margin-top: 2rem;
  }