.post{
   padding: 1rem;
}
.buttonPost{
   border: none;
   border-radius: 6px;
   cursor: pointer;
   background-color: #1677ff;
   color: #fff;
   box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
   padding: 4px 15px;;
   margin: 10px 0;
   height: 32px;
}

.form_newPost input{
   width: 250px;
   padding: 5px 10px;
   border-radius: 8px;
   border: none;
   height: 20px;
   margin-bottom: 10px;
}